.mensaje{
    margin: 2%;
    margin-bottom: 80px;
    background-color: $canela;
    padding: 20px;
    form{
        .mensaje1{
            @include mensajes (flex, column, space-between, 2%);
        }
        .mensaje2{
            @include mensajes (flex, column, space-between, 2%);
            .check{
                @include mensajez (flex, row, baseline, 0px);
            }
        }
        .mensaje3{
            @include mensajes (flex, column, space-between, 1%);
            .check{
                @include mensajez (flex, row, baseline, 0px);
            }
            .enviar{
                @include mensajez (flex, row, baseline, 0px);
                justify-content: space-around;
                input{
                    margin: 10px;
                }
            }
        }
    }
    .mensaje4{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    @media (min-width: 600px){
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
        "h1 h1"
        "msn mensaje4"
        ;
        h1{
            grid-area: h1;
        }
        form{
            grid-area: msn;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas: 
            "mensaje1 mensaje2"
            "mensaje3 mensaje3";
            align-items: start;
        }
        .mensaje1{
            grid-area: mensaje1;
        }
        .mensaje2{
            grid-area: mensaje2;
        }
        .mensaje3{
            grid-area: mensaje3;
        }
        .mensaje4{
            grid-area: mensaje4;
        }
    }
}