main{
    margin-bottom: 40px;
    .principal{
        margin: 5px;
        @include cuadradito ($borde, $anaranjado, 20px, 30px);
        font-size: medium;
        h1, h2{
            @include fuente (large, bold)
        }
        p{
            margin-bottom: 0px;
        }
    }
    .principal:hover{
        background-color: $canela;
    }
    .abajo{
        margin: 3%;
        @include cuadradito ($borde, $coral, 20px, 30px);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        img{
            margin: 5px;
            width: 200px;
        }
        .direccion{
            margin: 5px;
        }
        font-size: medium;
        text-align: center;
        h2{
            @include fuente (large, bold)
        }
    }
    .abajo:hover{
        background-color: $canela;
    }
    @media (min-width: 600px){
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: repeat(3, 1fr) 2fr;
        grid-template-areas: 
        "carrusel carrusel info1 info1 info1"
        "carrusel carrusel info2 info2 info2"
        "carrusel carrusel info3 info3 info3"
        "info4 info5 info6 info7 info8"
        ;
        .carrusel{
            margin: 20px;
            grid-area: carrusel;
        }
        .info1{
            grid-area: info1;
        }
        .info2{
            grid-area: info2;
        }
        .info3{
            grid-area: info3;
        }
        .info4{
            grid-area: info4;
        }
        .info5{
            grid-area: info5;
        }
        .info6{
            grid-area: info6;
        }
        .info7{
            grid-area: info7;
        }
        .info8{
            grid-area: info8;
        }
        .abajo{
            display: flex;
            flex-direction: column;
            img{
                margin: 5px;
                width: 90%;
            }
        }
    }
}