.indicaciones{
    margin-bottom: 40px;
    margin-top: 5px;
    width: 100vw;
    text-align: center;
    .buscador{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        .buscar{
            text-decoration: none;
            display: inline-block;
            padding: 10px 20px 10px 20px;
            border: none;
            text-align: center;
            background-color: $canela;
            width: 300px;
            a:visited, a:link{
                text-decoration: none;
                color: rgb(73 103 115);
            }
        }
        .buscar:hover{
            transform: scale(0.90);
            font-weight: bold;
        }
        @media (min-width: 600px){
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
    .estudio{
        margin: 1% 10% 1% 10%;
        border: $borde;
        background-color: $canela;
        padding: 10px;
    }
    .estudio:hover{
        background-color: $anaranjado;
    }
}