.indicaciones{
    margin-bottom: 40px;
    margin-top: 5px;
    text-align: center;
    input{
        width: 80%;
    }
    .btn{
        background-color: $azulgrisaceo;
        color: white;
        border: none;
    }
    .btn:hover{
        background-color: $verdeazulado;
        color: white;
    }
    table{
        margin: 20px;
        thead{
            tr{
                th{
                    background-color: $coral;
                    color: white;
                    height: 30px;
                }
                .indicaciones{
                    width: 70%;
                }
                .valor{
                    width: 10%;
                }
            }
        }
        tbody{
            tr{
                background-color: $canela;
                color: black;
            }
            td{
                padding: 10px;
            }
            tr:hover{
                background-color: $anaranjado;
                color: black;
                transform: scale(1.01);
            }
        }
    }
    .mensajeError{
        display: none;
    }
}